<a href="{% url 'blog:all_posts' %}" class="btn">Home</a>
<a href="#" class="btn">Info</a>

{% if request.user.is_authenticated %}
    {% with username=request.user.username %}
        <a href="{% url 'blog:user_posts' username %}" class="btn">My Blog</a>
        <a href="{% url 'users:user_profile' %}" class="btn">{{ username }} Profile </a>
        <form method="post" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn" id="logout-btn">Logout</button>
        </form>
    {% endwith %}
{% else %}
    <a href="{% url 'users:login' %}" class="btn">My Blog</a>
    <a href="{% url 'users:registration' %}" class="btn">Registration</a>
    <a class="btn" href="{% url 'users:login' %}">Login</a>
{% endif %}

