{% load bootstrap4 %}
{% load static %}
{% load blog_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-2" id="sidebar">
            <div class="container-fluid">
                <h1>Side Bar</h1>
                {% recent_posts %}
                {% popular_posts %}
            </div>
        </div>
        <div class="col-10">
            <div class="container-fluid">
                <div class="row" id="header">
                    <div class="col-12 link-container">
                        {% include 'blog/includes/header.html' %}
                    </div>
                </div>
                <div class="row">
                    <div id="content" class="col-12">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</body>
</html>