{% extends "basic.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{ post.title }}</h1>
                <p class="date">
                    Published {{ post.publish }} by {{ post.author }}
                </p>
                {{ post.text|linebreaks }}
                <a href="{% url 'blog:share_post' post.publish.year post.publish.month post.publish.day post.slug %}"
                   class="btn btn-primary">Share Post</a>
            </div>
        </div>
    </div>
{% endblock %}