{% extends 'blog/post/post-list.html' %}

{% block title %}My Posts{% endblock %}
{% block full_post_btn %}
    <a href="{% url 'blog:user_post_detail' post.pk post.slug %}" class="btn btn-primary">Edit Post</a>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h1>My Posts:</h1>
            <div class="col-8">
                <a href="{% url 'blog:create_post' %}" class="btn btn-primary">Create Post</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ block.super }}
            </div>
        </div>
    </div>
{% endblock %}