body {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
}

a {
    color: #00abff;
    text-decoration: none;
}

h1 {
    font-weight: normal;
    border-bottom: 1px solid #bbb;
    padding: 0 0 10px 0;
}

h2 {
    font-weight: normal;
    margin: 30px 30px 0 0;
}

form {
    font-weight: normal;
    margin: 0;
}

#content {
    padding: 0 0 0 30px;
    font-family: "Agency FB", serif;
    font-size: large;
}

#header {
    width: 100%;
}

#sidebar {
    font-family: "Agency FB", serif;
    background: linear-gradient(to right, rgba(0, 0, 255, 0.5), rgba(255, 192, 203, 0.5));
    flex: auto;
    height: fit-content;
}

#searchform {
    margin: 11px 0 0 0;
}

#id_avatar {
    margin: 15px 0 0 0;
}

.link-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

p.date {
    color: #ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
}

form.comment_form {
    font-size: 20px;
}

/* pagination */
.pagination {
    margin: 40px 0;
    font-weight: bold;
}

.img-fluid {
    max-width: 10%;
    height: auto;
}


/* forms */
label {
    float: left;
    clear: both;
    color: #333;
    margin: 20px 0 0;
}

input, textarea {
    clear: both;
    float: left;
    margin: 0 0 10px;
    background: #ededed;
    border: 0;
    padding: 6px 10px;
    font-size: 20px;
}

input[type=submit] {
    font-weight: bold;
    background: #00abff;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
}

.errorlist {
    color: #cc0033;
    float: left;
    clear: both;
    padding-left: 10px;
}

/* comments */
.comment {
    padding: 10px;
}

.comment:nth-child(even) {
    background: #efefef;
}

.comment .info {
    font-weight: bold;
    font-size: 12px;
    color: #666;
}


.search_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_input {
    flex-grow: 1;
    margin-right: 10px;
}

.submit_button input[type="submit"] {
    padding: 5px 10px;
    cursor: pointer;
}


#similar_posts {
    margin-top: 50px;
}

#sim_post {
    margin: 20px 0 20px;
    background: rgb(237 237 237 / 38%);
    padding: 1px 1px 2px 10px;
}